body{
    background-image: url("../image/fond_index.jpg");
}

h1 {
    color: #FFFFFF;
    background-color: #537FA6;
    text-shadow: 1px 1px 4px #000000;
}

h2 {
    color: #ACAEB0;
    background-color: #537FA6;
    text-shadow: 1px 1px 4px #000000;
}
